@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500;1,800&family=Red+Hat+Display:wght@500;700;900&family=VT323&display=swap");
/*! base css start */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
/*! base css end */
/*! navbar start */
.navbar {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #fff;
  z-index: 9999;
  transition: 0.4s;
  height: 100px;
  width: 100% !important;
}
.fixed {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9) !important;
  height: 100px;
  padding: 0 14% !important;
  max-width: 100%;
}
.collapse {
  position: relative;
}
.collapse .menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 1;
}
.menu-dropdown-content {
  width: 220px;
  background-color: #000;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 18px 10px;
}
.menu-dropdown-content a:hover {
  color: black;
}
.nav-item:hover .menu-dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}

.nav-item .nav-link span {
  position: absolute;
  background: #f9c56a;
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  border-radius: 50%;
  color: #000 !important;
  margin-right: 5px;
  right: 25px;
}
.bi-cart3 {
  margin-right: 30px;
  font-size: 18px;
}
.bi-chevron-down {
  font-size: 18px;
  margin-left: 5px;
}
.menu-dropdown-wrapper .cart-title {
  border-top: 2px solid #f9c56a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
}
.menu-dropdown-wrapper .cart-title {
  margin: 0;
  color: #fff;
  text-align: left;
}
.menu-dropdown-wrapper .cart-items {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-dropdown-wrapper .cart-item-image {
  float: left;
  margin-right: 15px;
}
.cart-item-desc {
  position: relative !important;
}
.cart-item-desc .close {
  position: absolute;
  left: 300px;
  top: 0;
}
.cart-item-desc .close i {
  font-size: 25px !important;
}
.cart-item-desc a {
  display: block;
  text-decoration: none;
  color: #ececec;
  font-weight: 700;
  font-family: Josefin Sans;
  font-size: 15px;
}
.cart-item-price {
  color: #c5c5c5;
  font-size: 13px;
  font-family: raleway, sans-serif;
}
.cart-item-quantity {
  color: #c5c5c5;
  font-size: 13px;
  font-family: raleway, sans-serif;
  position: relative;
  right: 0;
  top: 0;
}
/*! navbar end */
/*! hero-img start */
.hero-img {
  background-image: url(../img/hero-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
  width: 100%;
  margin-top: -220px;
}
.hero-img h1 {
  color: #fff;
  font-size: 72px;
}
.hero-img h2 {
  text-transform: none;
  font-weight: 400;
  color: #e6e6e6;
  font-size: 36px;
}
/*! hero-img end */
/*! about start */
.page-header {
  border: none;
  margin: 80px 0 40px !important;
}
.features-content .price {
  font-family: Josefin Sans;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7ad48;
  width: 100%;
  display: table;
  margin: 0;
  padding: 13px 0 45px;
}
.features-content p {
  color: #4b4741;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.page-header h1 {
  text-transform: uppercase;
  color: #4b4741;
  text-align: center;
  font-weight: 800;
}
.page-header h4 {
  font-size: 19px;
  color: #4b4741;
  margin: 46px 0 15px;
  font-weight: bold;
}
.page-header small {
  font-weight: 400;
  line-height: 1;
  color: #777;
  font-size: 23.4px;
  text-transform: lowercase;
}
.page-header:after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  background-color: #f9c56a;
  margin: 0 auto;
}
.col-md-8 p {
  color: #828281;
  font-size: 22px;
  font-weight: bold;
}
.about .about-photo {
  padding: 5px;
  cursor: pointer;
}
.about {
  padding-bottom: 80px;
}

/*! about end */
/*! special start */
.special {
  background: url(../img/special/bg3.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 80px;
}
.special h1 {
  font-size: 30px;
  text-align: left;
  text-transform: none;
  font-weight: 700;
}
.special-slider {
  background-color: #fff;
  margin-left: 100px;
  border-radius: 20px;
}
.slider-content {
  width: 65%;
  float: left;
  padding: 0 30px;
}
.slider-img {
  width: 35%;
  height: 100% !important;
  float: left;
}
.page-header {
  margin: 20px 0 10px;
}
.button {
  margin: 17px 10px 20px 0 !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  letter-spacing: normal;
  padding: 10px 25px !important;
  background-color: #f9c56a;
  color: #000;
  text-transform: uppercase;
}
.button-white {
  background-color: #e9e5dd;
  color: #8c8881;
  border: 1px solid #e9e5dd;
  margin: 17px 10px 20px 0;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: normal;
  padding: 10px 25px;
}
.slider-content .page-header:after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  background-color: #f9c56a;
  margin: 0;
}
.special-slider .slider-content p {
  font-size: 21px;
  margin-bottom: 0;
  color: #828281;
}
/*? glide start */

.glide__arrow {
  position: absolute;
  top: 50%;
  background-color: transparent;
}

.glide__arrow--left {
  left: 50px;
}

.glide__arrow--right {
  right: 175px;
}

.glide__arrow i {
  font-size: 40px;
  color: #fff;
}
/*? glide end */
/*! special end */
/*! reservation  start */
.reservation .reservation-form {
  border: 1px solid #f3f1ed;
  padding: 25px 50px !important;
  position: relative;
}
.form-group {
  position: relative;
}

.form-group label {
  font-size: 18px;
  font-weight: 400;
}

.reservation-form .form-group .form-control {
  padding: 0 50px 0 15px;
  font-size: 16px;
  height: 40px;
  background-color: #f3f1ed;
}
.reservation-form i {
  position: absolute;
  right: 20px;
  top: 35px;
  color: #f28a2f;
}
.reservation-btn {
  text-align: center !important;
  padding: 20px 0 !important;
}
.reservation-btn button {
  background-color: #f9c56a;
  border: none;
  padding: 15px 40px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.9;
  transition: ease-in all 0.2s;
}
.reservation-btn button:hover {
  opacity: 1;
}
.reservation-footer {
  position: relative;
  text-align: center;
  background-color: #fafafa;
  overflow: visible;
  padding-top: 20px;
}
.reservation-footer p {
  margin-bottom: 20px;
  font-size: 22px;
}
.reservation-footer strong {
  color: #828281;
  font-size: 22px;
}
.reservation-footer span {
  position: relative;
  bottom: -1px;
  display: block;
  width: 100% !important;
  height: 5px;
  text-align: center;
  background: 0 center repeat-x url(../img/reservation-footer/zigzag.svg);
}
/*! reservation  end */
/*! features  start */
.features {
  background: url(../img/features/bg4.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 50px;
}
.features .features-tile {
  background-color: #fff;
  margin-bottom: 30px;
}
.features-img {
  overflow: hidden;
}
.features-img img:hover {
  transform: scale(1.1);
  transition: 0.4s;
  opacity: 1;
}
.features .features-tile .features-content {
  padding: 5px 25px 10px;
}
/*! features  end */
/*! menu  start */
.menu {
  padding-bottom: 30px;
}
.menu-tags {
  text-align: center;
  margin-bottom: 20px;
}
.menu .clearfix .menu-wrapper {
  overflow: hidden;
  margin: 15px 0;
  padding-left: 10px;
  border-left: 3px solid #fff;
}
.menu-tags .tagsort-active {
  border-bottom: 3px solid #f9c56a;
  color: #4b4741;
}
.menu-tags span {
  font-family: raleway, sans-serif;
  font-size: 18px;
  color: #828281;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 20px;
  padding-bottom: 2px;
  padding-top: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  border-bottom: 3px solid transparent;
}
.menu h4 {
  text-align: left;
  margin: 5px 0;
  float: left;
  padding-right: 10px;
  display: inline;
  color: #4b4741;
  font-weight: 800;
}
.menu .price {
  float: right;
  padding-left: 10px;
  line-height: 19.8px;
  margin: 5px 0;
  background: #fff none repeat scroll 0% 0%;
  font-family: Josefin Sans;
  font-size: 22px;
  font-weight: 700;
}
.menu .dotted-bg {
  border-top: dotted 2px #ccc;
  position: absolute;
  right: 50px;
  top: 20px;
  width: 50%;
  z-index: -1;
}
.menu p {
  font-family: josefin sans, sans-serif;
  color: #828281;
  font-size: 22px;
}
/*! menu  end */
/*! trusted start */
.trusted-quote {
  background: url(../img/background-img/bg5.png) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 60px 0;
}

.trusted-quote img {
  padding-bottom: 20px;
  margin: 0 auto;
}
.truested {
  margin-bottom: 30px;
}
.trusted-quote .quote-body {
  color: #fff;
  margin: 20px 0;
  font-size: 31px;
}
.trusted-quote .quote-author {
  font-weight: 700;
  color: #fff;
  margin: 20px 0;
  font-size: 26px;
}
.trusted-quote .quote-author span {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}
/*! trusted end */
/*! subscribe start */
.subscribe {
  padding: 30px 0;
  background: #f7f3f4;
}
.subscribe h1 {
  font-size: 45px;
  color: #4b4741;
}
.subscribe p {
  font-size: 22px;
  color: #828281;
}
.subscribe input {
  border: 2px solid #f9c56a !important;
  background: #fff none repeat scroll 0% 0%;
  margin: 0 20px;
  width: 263px !important;
  line-height: 42px;
  height: 46px;
}
.subscribe form button {
  padding: 0 15px;
  height: 46px;
  border: 1px solid #f2ba57;
  transition: all 0.5s ease;
  background-color: #f2ba57;
}
.subscribe form button:hover {
  opacity: 0.8 !important;
}
.subscribe form .bi-chevron-right {
  font-size: 25px;
  padding: 0 8px;
}
/*! subscribe end */
/*! footer start */
.footer {
  background: url(../img/background-img/bg6.png) no-repeat center center;
  background-size: cover;
}
.footer h1 {
  color: #f9c56a;
  font-size: 18px;
  text-align: left;
  margin: 60px 0 26px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer p {
  color: #fff;
  font-size: 18px;
}
.footer a {
  color: #f9c56a;
  font-size: 14px;
}
.footer a:hover {
  color: #828281;
}
.footer .footer-blog {
  margin-bottom: 27px;
}
.footer .footer-blog img {
  float: left;
  margin-right: 15px;
}
.footer .footer-blog .footer-blog-text {
  font-weight: 700;
  font-size: 17px;
  margin-top: -4px !important;
}
.footer .footer-blog .footer-blog-text:hover {
  color: #f9c56a;
}
.footer .footer-blog .footer-blog-date {
  font-size: 14px;
  color: #828281;
  font-weight: 700;
}
.footer .footer-social-icons {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 6px 7px 7px;
  margin-bottom: 25px;
  display: table;
}

.footer .footer-social-icons a {
  padding: 9px 0 6px;
  color: #fff;
  background-color: #343434;
  border-radius: 2px;
  width: 35px;
  height: 38px;
  display: inline-block;
  text-align: center;
  font-size: 17px;
}
.footer .footer-social-icons a:hover {
  background-color: #f2ba57;
  color: #000;
}
.footer-address p {
  color: #bcbcbc;
  font-size: 17px;
}
.footer-address .bi {
  margin-right: 10px;
  color: #f9c56a;
  width: 18px;
  text-align: center;
}
.footer .footer-copyrights {
  height: 100px;
  text-align: center;
  background-color: #1c1c1e;
}
.footer .footer-copyrights .bi-heart {
  color: #f9c56a;
}

.footer .footer-copyrights p {
  margin: 30px 0;
  color: #b5b5b4;
  font-size: 16px;
}
/*! footer end */
/*! menu-page start */
.hero-img-1 {
  background: url(../img/background-img/1.jpg) no-repeat center top;
  background-size: cover;
  padding: 200px 0 150px;
}
.hero-img-1 h2 {
  margin: 0;
  font-size: 70px;
  line-height: 70px;
  font-weight: 900;
  color: #fff;
}
.hero-img-1 p {
  margin: 15px 0;
  font-size: 24px;
  font-family: Raleway;
  color: #fff;
  opacity: 0.7;
}
/*! menu-page end */
/*! overlay start */
.overlay {
  background-color: #ececec;
  padding-bottom: 30px;
}
.menu-info {
  overflow: hidden;
  z-index: 0;
}

.menu-desc {
  background: rgba(19, 19, 19, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.menu-info img:hover {
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
  opacity: 1;
  visibility: visible !important;
  z-index: 20;
}
.menu-desc h4 {
  font-size: 19px;
  color: #fff;
  margin: 46px 0 5px;
}
.menu-desc p {
  color: #fff;
  font-size: 19px;
  line-height: 24px;
}
.menu-desc .price {
  font-family: Josefin Sans;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #3e3d3b;
  width: 100%;
  margin: 17px 0 0;
  padding-top: 17px;
}

.menu-more {
  width: 55px;
  height: 55px;
  border-radius: 27px 28px 28px 27px/27px 27px 28px 28px;
  background-color: #f9c56a;
  text-shadow: 0 5px 5px #c1913e;
  border: solid 1px #f2ba57;
  color: #fff;
  line-height: 0;
  font-weight: 300;
  font-size: 65px;
  text-align: center;
  display: table;
  position: absolute;
  z-index: 48;
  bottom: -27.5px;
  right: 45px;
  font-family: Raleway;
  padding-top: 27px;
}

/*! overlay end */
