/*! overlay start */
.overlay {
  background-color: #ececec;
  padding-bottom: 30px;
}
.menu-info {
  overflow: hidden;
  z-index: 0;
}

.menu-desc {
  background: rgba(19, 19, 19, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.menu-info img:hover {
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
  opacity: 1;
  visibility: visible !important;
  z-index: 20;
}
.menu-desc h4 {
  font-size: 19px;
  color: #fff;
  margin: 46px 0 5px;
}
.menu-desc p {
  color: #fff;
  font-size: 19px;
  line-height: 24px;
}
.menu-desc .price {
  font-family: Josefin Sans;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #3e3d3b;
  width: 100%;
  margin: 17px 0 0;
  padding-top: 17px;
}

.menu-more {
  width: 55px;
  height: 55px;
  border-radius: 27px 28px 28px 27px/27px 27px 28px 28px;
  background-color: #f9c56a;
  text-shadow: 0 5px 5px #c1913e;
  border: solid 1px #f2ba57;
  color: #fff;
  line-height: 0;
  font-weight: 300;
  font-size: 65px;
  text-align: center;
  display: table;
  position: absolute;
  z-index: 48;
  bottom: -27.5px;
  right: 45px;
  font-family: Raleway;
  padding-top: 27px;
}
/*! overlay end */
