/*! page start */
.page {
  padding: 97px 0;
}
.page img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page .text-left {
  font-weight: 900;
  font-size: 36px;
  margin: 30px 0 21px;
  padding: 0;
  line-height: 36px;
}
.page p {
  font-size: 20px;
  line-height: 32px;
  padding-right: 44px;
  margin: 0 0 25px;
}
.services {
  background: #1b1e20 url(../../img/pages/bgc.jpg) no-repeat center top;
  background-size: cover;
  padding-bottom: 95px;
}
.services h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0 21px;
}
.services p {
  color: #85898c;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}
/*! page end */
