/*! reservation  start */
.reservation .reservation-form {
  border: 1px solid #f3f1ed;
  padding: 25px 50px !important;
  position: relative;
}
.form-group {
  position: relative;
}

.form-group label {
  font-size: 18px;
  font-weight: 400;
}

.reservation-form .form-group .form-control {
  padding: 0 50px 0 15px;
  font-size: 16px;
  height: 40px;
  background-color: #f3f1ed;
}
.reservation-form i {
  position: absolute;
  right: 20px;
  top: 35px;
  color: #f28a2f;
}
.reservation-btn {
  text-align: center !important;
  padding: 20px 0 !important;
}
.reservation-btn button {
  background-color: #f9c56a;
  border: none;
  padding: 15px 40px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.9;
  transition: ease-in all 0.2s;
}
.reservation-btn button:hover {
  opacity: 1;
}
.reservation-footer {
  position: relative;
  text-align: center;
  background-color: #fafafa;
  overflow: visible;
  padding-top: 20px;
}
.reservation-footer p {
  margin-bottom: 20px;
  font-size: 22px;
}
.reservation-footer strong {
  color: #828281;
  font-size: 22px;
}
.reservation-footer span {
  position: relative;
  bottom: -1px;
  display: block;
  width: 100% !important;
  height: 5px;
  text-align: center;
  background: 0 center repeat-x url(../img/reservation-footer/zigzag.svg);
}
/*! reservation  end */
